extends layout

block content
  .columns
    .column.is-one-quarter.is-hidden-mobile
      .card
        .card-content
          aside.menu
            .menu-label Folders
            ul.menu-list
              each folder in folders
                li
                  a= folder.name
            .menu-label Tags

    .column
      .card
        .card-content
          .columns.is-vcentered
            .column.is-flex
              .notification.is-primary
                .subtitle= "Total monthly cost: $" + monthly.toFixed("2")
            .column.is-flex
              .notification.is-primary
                .subtitle= "Total yearly cost: $" + yearly.toFixed("2")
            .column.is-flex.is-justify-content-end
              .is-pulled-right.field.has-addons
                .control
                  button.button.is-info.is-light
                    i.fas.fa-sort
                .control
                  button.button.is-info.is-light
                    i.fas.fa-filter
                .control
                  button#new-modal.button.is-success
                    i.fas.fa-plus
            
          table.table.is-stripped.is-hoverable.is-fullwidth
            thead.thead
              tr
                th Name
                th Price
                th Next Due Date
                th Cycle
                th
            tbody.tbody
              each p in list
                tr(id=p.id)
                  td#name.is-vcentered= p.name
                  td#price.is-vcentered= "$" + p.price.toFixed("2")
                  td#dueday.is-vcentered(data=p.duedate)= moment(p.duedate).format("MMMM Do YYYY")
                  td#cycletype.is-vcentered= p.cycletype
                  td
                    .field.is-grouped
                      .control
                        button.button.is-info.edit-recurr(id=p.id)  
                          i.fas.fa-pencil-alt
                      .control
                        button.button.is-danger.delete-recurr(id=p.id)
                          i.fas.fa-trash

  #delete-recurr-modal.modal
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title Are you sure?
        button.delete(aria-label="close" onclick="toggleModal('delete-recurr-modal')")
      section.modal-card-body
        .subtitle#delete-modal-subtitle
        .is-flex.is-justify-content-center
          .field.is-grouped
            .control
              a#delete-recur-button.button.is-danger(href="/api/recur/delete/") Delete
            .control
              button.button.is-info.is-light Cancel

  #edit-recurr.modal
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title Edit Recurring Payment
        button.delete(aria-label="close" onclick="toggleModal('edit-recurr')")
      section.modal-card-body
        form#edit-form(action="/api/recur/edit" method="POST")
          input.is-hidden(name="redirectUrl", value="/")
          .field.is-horizontal
            .field-label.is-normal
              label.label Name
            .field-body
              .control
                input#edit-name-input.input(name="name" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Price
            .field-body
              .control
                input#edit-price-input.input(name="price" type="number" min="0" step="0.01" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Due Next
            .field-body
              .control
                input#edit-dueday-input.input(name="date" type="date" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Cycle
            .field-body
              .control
                .select
                  select#edit-cycletype-input(name="cycle_type")
                    option Yearly
                    option Monthly
                    option Weekly
          .field.is-pulled-right
            button.button.is-info Edit
  
  #new-recurr.modal
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title New Recurring Payment
        button.delete(aria-label="close" onclick="toggleModal('new-recurr')")
      section.modal-card-body
        form(action="/api/recur/new" method="POST")
          input.is-hidden(name="redirectUrl", value="/")
          .field.is-horizontal
            .field-label.is-normal
              label.label Name
            .field-body
              .control
                input.input(name="name" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Price
            .field-body
              .control
                input.input(name="price" type="number" min="0" step="0.01" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Due Next
            .field-body
              .control
                input.input(name="date" type="date" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Cycle
            .field-body
              .control
                .select
                  select(name="cycle_type")
                    option Yearly
                    option Monthly
                    option Weekly
          .field.is-pulled-right
            button.button.is-info Add