extends layout

block content
  script(src="/javascript/index.js")

  .columns
    .column.is-one-quarter
      .card
        .card-content
          aside.menu
            .menu-label Folders
            ul.menu-list
              li
                a.menu-item(href="/" data-folder="all")= "All (" + total + ")"
              each folder in folders
                li
                  a.menu-item(href="?folder=" + folder.id data-folder=folder.id)= folder.name + " (" + folder.recurring_payments.length + ")"
            .menu-label Tags

    .column
      .card
        .card-content
          .tile.is-ancestor
            .tile.is-horizontal
              .tile.is-parent
                .tile.is-child
                  .m-1.notification.is-primary
                    .subtitle= "Total monthly cost: $" + monthly.toFixed("2")
                .tile.is-child
                  .m-1.notification.is-primary
                    .subtitle= "Total yearly cost: $" + yearly.toFixed("2")              
                //- .tile.is-child.is-flex.is-align-items-center.is-justify-content-end
                //-   .is-pulled-right.field.has-addons
                //-     .control
                //-       button.button.is-info.is-light
                //-         i.fas.fa-sort
                //-     .control
                //-       button.button.is-info.is-light
                //-         i.fas.fa-filter
                //-     .control
                //-       button#new-modal.button.is-success
                //-         i.fas.fa-plus

          .table-container
            table.table.is-stripped.is-hoverable.is-fullwidth
              thead.thead
                tr
                  th Name
                  th Price
                  th Next Due Date
                  th Cycle
                  th Folder
                  th
                    button.button.is-success.new-recurr
                      i.fas.fa-plus
              tbody.tbody
                each p in list
                  if p.paused 
                    - var color = "has-background-warning"
                  else
                    - var color = ""

                  tr(id=p.id class=color)
                    td#name.is-vcentered= p.name
                    td#price.is-vcentered= "$" + p.price.toFixed("2")
                    td#dueday.is-vcentered(data=p.duedate)= moment(p.duedate).format("MMMM Do YYYY")
                    td#cycletype.is-vcentered= p.cycletype
                      if p.folder
                        td#folder.is-vcentered(data-name=p.folder.id)=p.folder.name
                      else
                        td#folder.is-vcentered(data-name="None")
                    td
                      .field.is-grouped
                        .control
                          button.button.is-info.edit-recurr(id=p.id)  
                            i.fas.fa-pencil-alt
                        .control
                          button.button.is-danger.delete-recurr(id=p.id)
                            i.fas.fa-trash

  #delete-recurr-modal.modal
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title Are you sure?
        button.delete(aria-label="close" onclick="toggleModal('delete-recurr-modal')")
      section.modal-card-body
        .subtitle#delete-modal-subtitle
        .is-flex.is-justify-content-center
          .field.is-grouped
            .control
              a#delete-recur-button.button.is-danger(href="/api/recur/delete/") Delete
            .control
              button.button.is-info.is-light Cancel

  #edit-recurr-modal.modal
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title Edit Recurring Payment
        button.delete(aria-label="close" onclick="toggleModal('edit-recurr')")
      section.modal-card-body
        form#edit-form(action="/api/recur/edit" method="POST")
          input.is-hidden(name="redirectUrl", value="/")
          .field.is-horizontal
            .field-label.is-normal
              label.label Name
            .field-body
              .control
                input#edit-name-input.input(name="name" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Price
            .field-body
              .control
                input#edit-price-input.input(name="price" type="number" min="0" step="0.01" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Due Next
            .field-body
              .control
                input#edit-dueday-input.input(name="date" type="date" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Cycle
            .field-body
              .control
                .select
                  select#edit-cycletype-input(name="cycle_type")
                    option Yearly
                    option Monthly
                    option Weekly
          .field.is-horizontal
            .field-label.is-normal
              label.label Folder
            .field-body
              .control
                .select
                  select#edit-folder-input(name="folder")
                    option None
                    each folder in folders
                      option(value=folder.id)= folder.name
          .field.is-horizontal 
            .control
              label.checkbox
                input#edit-paused-input(name="paused" type="checkbox")
                |       Payment Paused
          .field.is-pulled-right
            button.button.is-info Edit
  
  #new-recurr-modal.modal
    .modal-background
    .modal-card
      header.modal-card-head
        .modal-card-title New Recurring Payment
        button.delete(aria-label="close" onclick="toggleModal('new-recurr-modal')")
      section.modal-card-body
        form(action="/api/recur/new" method="POST")
          input.is-hidden(name="redirectUrl", value="/")
          .field.is-horizontal
            .field-label.is-normal
              label.label Name
            .field-body
              .control
                input.input(name="name" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Price
            .field-body
              .control
                input.input(name="price" type="number" min="0" step="0.01" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Due Next
            .field-body
              .control
                input.input(name="date" type="date" required)
          .field.is-horizontal
            .field-label.is-normal
              label.label Cycle
            .field-body
              .control
                .select
                  select(name="cycle_type")
                    option Yearly
                    option Monthly
                    option Weekly
          .field.is-pulled-right
            button.button.is-info Add
